<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body class="is-preload">
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">

            <!-- Elements -->
            <header class="major">
                <h1>Board</h1>
                <p>게시글 수정</p>
            </header>
            <!-- Table -->
            <h3><a href="javascript:goList()" class="button small">목록 보기</a></h3>
            <div class="content">
                <div class="form">
                    <form method="post" action="/board/modify" th:object="${board}">
                        <input type="hidden" th:field="${criteria.pageNum}">
                        <input type="hidden" th:field="${criteria.amount}">
                        <input type="hidden" th:field="${criteria.type}">
                        <input type="hidden" th:field="${criteria.keyword}">
                        <div class="fields">
                            <div class="field">
                                <h4>번호</h4>
                                <input type="text" th:field="*{bno}" readonly/>
                            </div>
                            <div class="field">
                                <h4>*제목</h4>
                                <input type="text" th:field="*{title}"/>
                            </div>
                            <div class="field">
                                <h4>*내용</h4>
                                <textarea name="content" rows="6" style="resize:none" th:text="*{content}"></textarea>
                            </div>
                            <div class="field">
                                <h4>작성자</h4>
                                <input name="writer" type="text" th:value="*{writer}" readonly/>
                            </div>
                        </div>
                        <ul class="actions special">
                            <li>
                                <input type="submit" class="button" value="수정 완료"/>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
</body>
<script th:inline="javascript">
    let pageInfo = [[${criteria.listLink}]];

    function goList(){
        location.href = "/board/list" + pageInfo;
    }
</script>
</html>